@use "../sass/utils/box-shadow.scss";

.reservez

{
    text-align: center;
    text-decoration: none;
    font-size: 1.0rem;
    background-color: #f6f6f6;
    margin-top:0;
    padding-top: 1rem;
    padding-bottom: 1.4rem;
& p
{
    font-size:1rem;
    font-weight: lighter;
}

& button

{
    color: white;
    background-image: linear-gradient(rgba(252,120,220,.8),rgba(147,86,220,.9));
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 1.8rem;
    /*box-shadow: 1px 3px 16px -1px #000000 ;*/
    /*border: 1px solid green;*/
    transition: 300ms;
   
}

& button:hover

{
    transform: scale(1.1);
    opacity: 0.9;
}


}