footer
{
    display: flex;
    flex-direction: column;
    background-color: #313131;
    color: #FFF;
    
    padding-top: 0.9rem;
    /*border: 1px solid red;*/
    & h3 {
        font-family: "Shrikhand", cursive;
        padding-left: 1rem;
    }
    & ul 
    {
        list-style:none;
       padding-left: 0.8rem;
    }
    & li 
    {
        padding: 0.3rem;
    }
    & a{
        text-decoration: none;
    }
}